<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/style/style.css">

</head>
<body>
    <div class="wrapper">
        <form action="" method="post" class="form_container">
            {{ form.hidden_tag() }}
            <div class="register">
                <h1>Регистрация</h1>
                <label for="reg-input-login">Логин</label>
                {{ form.login(class="form-input", id="reg-input-login", type="text") }}

                <label for="reg-input-password">Пароль</label>
                {{ form.password(class="form-input", id="reg-input-password", type="password") }}

                <label for="reg-input-password">Повторите пароль</label>
                {{ form.password_rep(class="form-input", id="reg-input-passwordrep", type="password") }}

                {{ form.submit(type="submit", class="form-btn") }}
            </div>

        </form>
        <div class="back-img">
            <img src="../static/Group 17.png" alt="">
        </div>
    </div>
</body>
</html>